# Ignore all heavy browser data
.config/chromium/
.config/Code/
.vscode-shared/
.copilot/
.vscode/
.dotnet/
.codex/

# Ignore system/desktop environment junk
.cache/
.local/
.Xauthority
.xsession-errors*
.dbus/
.gvfs/
.config
.bash_history
.bash_logout
.bash_save

# Keep the .gitignore itself
!.gitignore
