# Ignore all heavy browser data
.config/chromium/
.config/Code/

# Ignore system/desktop environment junk
.cache/
.local/
.Xauthority
.xsession-errors*
.dbus/
.gvfs/
.config

# Keep the .gitignore itself
!.gitignore
